@import "~base/components/tooltip";

.info-icon {
    .icon {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tooltip {
        min-width: 11rem;
        max-width: 15rem;
    }
}
